{% extends "base.twig" %}

{% block content %}
  <section id="welcome" class="section">
    <div class="row">
      <div class="large-12 columns">
        <img src="{{site.theme.link}}/images/header.png">
      </div>
    </div>
  </section>

  <section id="about" class="section">
    <div class="row">
      <div class="large-12 columns">
        <h2 class="red">O que é ?</h2>
        <ul class="slideshow" data-orbit>
          {% for slide in slideshow %}
          <li>
            {{slide.content}}
          </li>
	  {% endfor %}
        </ul>
      </div>
    </div>
  </section>

{% endblock %}